body
{
    font: 14pt Arial, sans-serif;
    background: #333;
    color: gray;
}

select
{
    font: 14pt Arial, sans-serif;
}

div#controls div
{
    display:none; border: 1px solid darkgray;
    border-radius: 5px;
    padding: 10px;
    width: 728px;
}

div#controls div.display
{
    display: block;
}

#controls
{
    padding-top: 24px;
}

#effectMix
{
    padding-top: 12px;
}

#arranger
{
    width:750px;
    margin: 25px auto;
}
